mixin navbar(navSlug, classes)
    ul.nav(class=classes)
        if seriesSets[navSlug] && seriesSets[navSlug].children
            each item in seriesSets[navSlug].children
                - var file = item.file
                case item.type
                    when 'page'
                        li.nav(class=(breadcrumb_path && breadcrumb_path.length && breadcrumb_path[0].path === file.path.replace(/\//g,'') ? 'active' : ''))
                            a(href=file.path, id="navbar-link-"+file.slug, title=file.title)!= file.shortTitle || file.title
                    when 'category'
                        if collections[camelCase(file.slug)] && collections[camelCase(file.slug)].length
                            li.nav(class=(breadcrumb_path && breadcrumb_path.length && breadcrumb_path[0].path === file.slug ? 'active' : ''))
                                a(href=`/${file.slug}/`, id="navbar-link-"+file.slug, title=file.title)!= file.shortTitle || file.title
                    when 'link'
                        li.nav(class=(file.uri.substr(0,1)==='/' && breadcrumb_path && breadcrumb_path.length && breadcrumb_path[0].path === file.uri.replace(/\//g,'') ? 'active' : ''))
                            a(href=file.uri id="navbar-link-"+slugify(file.title) target=file.uri.substr(0,1)==='/'?false:'_blank')!= file.title